@charset "UTF-8";

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-regular-webfont.woff") format("woff");
  src: url("../../fonts/roboto-regular-webfont.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Inika";
  src: url("../../fonts/Inika-Bold.woff") format("woff");
  src: url("../../fonts/Inika-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Inika";
  src: url("../../fonts/Inika-Regular.woff") format("woff");
  src: url("../../fonts/Inika-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Light.woff") format("woff");
  src: url("../../fonts/Inter-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Regular.woff") format("woff");
  src: url("../../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Bold.woff") format("woff");
  src: url("../../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-SemiBold.woff") format("woff");
  src: url("../../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #636060;
  line-height: 1;
  font-family: "Inter";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 6.8125rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

@-webkit-keyframes cardAnim {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }

  24% {
    opacity: 1;
  }

  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
  }

  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }

  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }

  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }

  25%, 55%, 75%, 87% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }

  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes cardAnim {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }

  24% {
    opacity: 1;
  }

  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
  }

  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }

  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }

  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }

  25%, 55%, 75%, 87% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }

  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

html {
  scroll-behavior: smooth;
}

.button {
  max-width: 9.875rem;
  min-height: 2.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Inter";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #010201;
  border: 0.125rem solid #e06733;
  border-radius: 0.625rem;
  cursor: pointer;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.button:hover {
  background: #e06733;
  color: #ffffff;
}

.button__wrap {
  max-width: 10.0625rem;
  width: 100%;
}

.default {
  color: #e06733;
  font-weight: 700;
}

.accord__wrapper {
  max-width: 15.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}

.accord__wrapper {
  max-width: 15.625rem;
  width: 100%;
  max-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #edf2ec;
  border-radius: 1.25rem;
}

.accord__wrapper_active {
  max-height: 9.625rem;
}

.accord__content {
  position: relative;
  padding: 0.75rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
  background: #c1e698;
}

.accord__content ::after {
  content: "";
  position: absolute;
  width: 65%;
  height: 0.03125rem;
  background: #aea1a1;
  top: 0;
  left: 15%;
  pointer-events: none;
}

.accord__descr {
  font-family: "Inter";
  font-weight: 300;
  font-size: 0.625rem;
  line-height: 0.625rem;
  color: #717171;
}

.accord__cost {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.accord__cost span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #e06733;
}

.accord__button {
  width: 86px;
  height: 25px;
  background: #ffffff;
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  color: #717171;
}

.accord__button:hover {
  background: #e06733;
  color: #ffffff;
}

.icon-menu {
  display: none;
}

.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.menu {
  display: none;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #edf2ec;
}

.header__wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.0625rem 0;
}

.logo__img {
  max-width: 4.375rem;
}

.navigation {
  max-width: 452px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #010201;
  font-family: "Inika";
  font-weight: 400;
  font-size: 1rem;
  line-height: 3.125rem;
}

.navigation__item :hover {
  color: #e06733;
}

.navigation__link {
  padding: 1.5625rem 0;
  text-align: center;
  text-decoration: none;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3.875rem 0;
  color: #636060;
}

.welcome__img {
  max-width: 28.125rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  margin-bottom: 5px;
}

.welcome__wrap {
  max-width: 34.375rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.625rem;
}

.welcome__title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 2.8125rem;
  line-height: 3.125rem;
  color: #636060;
}

.welcome__title span {
  color: #499a18;
}

.welcome__descr {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2.1875rem;
}

.welcome__button {
  max-width: 9.875rem;
}

.about {
  padding: 5.8125rem 0;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__img {
  max-width: 29rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.about__wrap {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
  max-width: 37.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}

.about__title {
  max-width: 28.9375rem;
  font-family: "Inika";
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: #499a18;
}

.about__title span {
  color: #e06733;
}

.about__descr {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.service__container {
  padding-top: 2.5rem;
  background: #edf2ec;
}

.service__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8.75rem;
}

.service__title {
  max-width: 19.125rem;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: #499a18;
}

.service__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.375rem;
}

.service__button {
  width: 100%;
  font-family: "Inika";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.625rem;
  color: #e06733;
}

.service-grid {
  padding: 5.625rem 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  -webkit-column-gap: 7.1875rem;
     -moz-column-gap: 7.1875rem;
          column-gap: 7.1875rem;
  row-gap: 3.4375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.service-grid__item {
  max-width: 20.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.625rem;
  padding-bottom: 2.5rem;
  border: 1px solid #e3e1d5;
  border-radius: 20px 20px;
  overflow: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.service-grid__item:hover {
  -webkit-box-shadow: 0px 0px 10px 2px #717171;
          box-shadow: 0px 0px 10px 2px #717171;
}

.service-grid__item_active {
  -webkit-filter: none;
          filter: none;
  -webkit-box-shadow: 0px 0px 10px 2px #717171;
          box-shadow: 0px 0px 10px 2px #717171;
}

.service-grid__item_blur {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.service-grid__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100.9%;
  height: 100%;
}

.service-grid__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: #e06733;
}

.service-grid__descr {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #717171;
}

.prices__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 2.5rem;
  padding-bottom: 7.1875rem;
}

.prices__title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #000000;
}

.prices__subtitle {
  max-width: 28.25rem;
  font-family: "Inter";
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.125rem;
  text-align: right;
  color: #000000;
}

.prices__subtitle span {
  color: #499a18;
}

.prices__bundles {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.75rem;
}

.prices__bundle {
  max-width: 20.75rem;
  min-height: 24.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}

.prices__wrap {
  max-width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #edf2ec;
  border-radius: 1.25rem;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.prices__wrap_active {
  max-height: 10rem;
  background: #c1e698;
}

.prices__wrap_active .prices__circle {
  background: #aea1a1;
}

.prices__wrap_active svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.prices__wrap_active svg path {
  stroke: #ffffff;
}

.prices__contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 2.4375rem;
}

.prices__button {
  max-width: 9.875rem;
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #e06733;
  font-family: "Inika";
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.625rem;
}

.prices__accord {
  max-width: 15.625rem;
  min-height: 3.125rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20px;
}

.prices__accord:hover {
  background: #c1e698;
}

.prices__accord_active {
  background: #c1e698;
}

.prices__text {
  font-family: "Inter";
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: #000000;
  padding-left: 2.5rem;
  pointer-events: none;
}

.prices__circle {
  width: 1rem;
  height: 1rem;
  background: #d9d9d9;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 2.5rem;
  pointer-events: none;
}

.prices__img {
  max-width: 9.5rem;
  width: 100%;
}

.contacts__container {
  background: #edf2ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.contacts__img {
  max-width: 25rem;
  width: 100%;
  padding-top: 3.75rem;
}

.contacts__wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(70% - 113px);
          flex: 0 1 calc(70% - 113px);
  padding-top: 3.75rem;
  min-height: 24.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.625rem;
}

.contacts__title {
  font-family: "Inika";
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: #499a18;
}

.contacts__wrapper {
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
  max-width: 28.125rem;
  min-height: 3.125rem;
  width: 100%;
}

.contacts__select {
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 28.125rem;
  min-height: 3.125rem;
  width: 100%;
  padding: 0.3125rem 4.375rem 0.3125rem 2.1875rem;
  font-family: "Inter";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2.5rem;
  color: #717171;
  background: #d6e7d2;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.contacts__select_active {
  background: #c1e698;
  border: 1px solid #d6e7d2;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contacts__select_active svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.contacts__select_active svg path {
  stroke: #ffffff;
}

.contacts__select_checked {
  background: #c1e698;
  border: 1px solid #d6e7d2;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contacts__select_checked svg path {
  stroke: #ffffff;
}

.contacts__select-circle {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1rem;
  height: 1rem;
  margin-right: 1.25rem;
  background: #aea1a1;
  border-radius: 100%;
  pointer-events: none;
}

.contacts__select-text {
  pointer-events: none;
}

.contacts__select-wrap {
  z-index: 10;
  display: none;
  position: absolute;
  max-width: 28.125rem;
  min-height: 3.125rem;
  width: 100%;
  padding: 1.6875rem 2.1875rem;
  background: #dce9d9;
}

.contacts__select-wrap_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__text {
  width: 100%;
  padding: 0 0.625rem;
  font-family: "Inter";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2.5rem;
  letter-spacing: 0.05em;
  color: #499a18;
  border-bottom: 0.0625rem solid #d9d9d9;
  cursor: pointer;
}

.contacts__text:hover {
  color: #717171;
  border-bottom: 1px solid rgb(113, 113, 113);
}

.contacts__circle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1rem;
  height: 1rem;
  margin-right: 1.25rem;
  background: #aea1a1;
  border-radius: 100%;
}

.card {
  display: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
  max-width: 28.125rem;
  width: 100%;
  background: #edf2ec;
  border: 1px solid #000000;
  border-radius: 20px;
}

.card_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: cardAnim 1s ease-in 0s 1 normal forwards;
          animation: cardAnim 1s ease-in 0s 1 normal forwards;
}

.card__wrap {
  width: 100%;
  padding: 1.0625rem 1.875rem 2rem 2.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0rem;
}

.card__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #000000;
  max-width: 8rem;
  width: 100%;
}

.card__link {
  text-decoration: none;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;
}

.card__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;
}

.card__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  /* identical to box height, or 250% */
  letter-spacing: 0.05em;
  color: #717171;
}

.card__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 7.625rem;
  width: 100%;
  min-height: 1.625rem;
  margin-top: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #e06733;
  border-radius: 5px;
  font-family: "Inika";
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  color: #717171;
  text-decoration: none;
  cursor: pointer;
}

.card__button:hover {
  background: #e06733;
  color: #ffffff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.footer__git {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.footer__text,
.footer__gitlink,
.footer__course-link {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 3.125rem;
  text-decoration: none;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.social-list__link {
  text-decoration: none;
}

.social-list__link svg {
  max-width: 2rem;
}

.btn_active {
  background: #e06733;
  color: #ffffff;
}

@media (max-width: 73.4375rem) {
  .contacts__img {
    max-width: 12.5rem;
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding: 0;
    max-height: 15.5rem;
  }

  .contacts__wrap {
    width: 100%;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 48rem) {
  .header__container {
    padding: 0 1.5625rem;
  }

  .welcome__img {
    max-width: 17.5rem;
  }

  .welcome__wrap {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .welcome__title {
    font-size: 2.1875rem;
  }

  .welcome__descr {
    max-width: 17.5rem;
    font-size: 1rem;
    line-height: 1.5625rem;
  }

  .about__container {
    padding: 0 3.125rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2.5rem;
  }

  .about__img {
    max-width: 15.625rem;
  }

  .about__wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .about__title {
    max-width: 26.4375rem;
    font-size: 2.1875rem;
    line-height: 2.875rem;
    text-align: center;
  }

  .about__descr {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }

  .service__container {
    padding: 0 3.125rem;
    padding-top: 3.75rem;
  }

  .service__wrap {
    gap: 2.5rem;
  }

  .service__title {
    font-size: 2.1875rem;
    line-height: 2.875rem;
  }

  .service__buttons {
    gap: 2.375rem;
    max-width: 100%;
  }

  .service-grid {
    grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
    -webkit-column-gap: 6.625rem;
       -moz-column-gap: 6.625rem;
            column-gap: 6.625rem;
    padding: 2.5rem 0 4.375rem 0;
  }

  .prices__container {
    padding: 0 3.125rem;
    padding-top: 3.75rem;
    padding-bottom: 5.5rem;
  }

  .prices__title {
    font-size: 2.1875rem;
    line-height: 2.625rem;
  }

  .prices__subtitle {
    max-width: 18.125rem;
    font-size: 1.5625rem;
    line-height: 2.1875rem;
  }

  .prices__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .prices__contacts {
    padding-top: 5.625rem;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .contacts__container {
    padding: 0 3.125rem;
    padding-top: 3.75rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5625rem;
  }

  .contacts__img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .contacts__wrap {
    width: 100%;
    padding: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts__title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 2.5rem;
    line-height: 3.25rem;
  }

  .contacts__wrapper {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .contacts__select {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .card {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .footer__container {
    padding: 2.0625rem 3.125rem 1.125rem 3.125rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }

  .footer__text,
  .footer__gitlink,
  .footer__course-link {
    line-height: 1.5rem;
  }

  .social-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 40.625rem) {
  .icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .icon-menu_open span {
    width: 0;
  }

  .icon-menu_open::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .icon-menu_open::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu {
    position: absolute;
    right: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: right 0.2s ease-out;
    -o-transition: right 0.2s ease-out;
    transition: right 0.2s ease-out;
  }

  .menu__overlay {
    width: 100%;
    height: 100%;
  }

  .menu__icon {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }

  .menu__body {
    -ms-flex-item-align: end;
        align-self: flex-end;
    max-width: 80%;
    width: 100%;
    padding: 2.5rem 3.75rem;
    background: #edf2ec;
    border: 1px solid #e06733;
    border-radius: 10px;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5625rem;
  }

  .menu__item {
    width: 100%;
    border: 1px solid #e06733;
    border-radius: 10px;
  }

  .menu__link {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1.25rem 2.5rem;
    font-size: 16px;
  }

  .menu_active {
    right: 0;
  }

  .navigation {
    display: none;
  }

  .prices__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .prices__subtitle {
    text-align: center;
  }

  .prices__bundles {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .prices__contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .prices__button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (max-width: 40.625rem) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 23.75rem) {
  .button__wrap {
    max-width: 7.5625rem;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 1.25rem;
  }

  .accord__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__wrap {
    min-height: 1.5rem;
  }

  .welcome {
    padding: 1.5rem 0;
  }

  .welcome__img {
    display: none;
  }

  .welcome__wrap {
    gap: 1.25rem;
  }

  .welcome__title {
    font-size: 1.5625rem;
    line-height: 2.1875rem;
  }

  .welcome__button {
    max-width: 6.25rem;
    min-height: 2.1875rem;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 1.25rem;
  }

  .about {
    padding: 1.875rem 0;
  }

  .about__container {
    padding: 0 1.5625rem;
    gap: 0.5625rem;
  }

  .about__img {
    max-width: 9.375rem;
  }

  .about__wrap {
    gap: 1.25rem;
  }

  .about__title {
    font-size: 1.5625rem;
    line-height: 1.875rem;
    max-width: 18rem;
  }

  .about__descr {
    font-size: 0.9375rem;
    line-height: 1.5625rem;
  }

  .service__container {
    padding-top: 1.875rem;
    padding: 0 1.5625rem;
  }

  .service__wrap {
    max-width: none;
  }

  .service__title {
    max-width: 11.6875rem;
    font-size: 1.5625rem;
    line-height: 2.0625rem;
    padding-top: 1.875rem;
  }

  .service__buttons {
    gap: 0.5625rem;
  }

  .service__button {
    max-width: 7.5625rem;
    min-height: 2.5rem;
    font-size: 0.9375rem;
    line-height: 1.25rem;
  }

  .service-grid {
    padding-bottom: 1.6875rem;
    grid-template-columns: repeat(auto-fill, 17.5rem);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .prices__container {
    padding: 0 1.5625rem;
    padding-top: 1.5625rem;
    padding-bottom: 2.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .prices__title {
    font-size: 1.5625rem;
    line-height: 1.875rem;
  }

  .prices__subtitle {
    text-align: center;
  }

  .prices__bundles {
    gap: 1.875rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .prices__bundle {
    max-width: 14rem;
    min-height: 14.6875rem;
    gap: 0.8125rem;
  }

  .prices__contacts {
    padding-top: 1.1875rem;
    gap: 0.875rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .prices__button {
    width: 7.5625rem;
    min-height: 2.1875rem;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    border: 1px solid #e06733;
  }

  .prices__img {
    display: none;
  }

  .contacts__container {
    padding: 0 1.5625rem;
    padding-top: 1.5625rem;
    gap: 0.625rem;
  }

  .contacts__img {
    max-width: 6.25rem;
  }

  .card__text {
    max-width: 4.0625rem;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #000000;
  }

  .card__phone {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__container {
    padding: 1.25rem 1.5625rem 0.4375rem;
  }
}