@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    color: #000;
    line-height: 1;
    font-family: "Georgia";
    font-size: 0.9375rem;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
    font-family: "Georgia";
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

.lock body {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

.wrapper>main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.wrapper>* {
    min-width: 0;
}


/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*="__container"] {
    max-width: 80rem;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0 2.5rem;
}

[class*="-ibg"] {
    position: relative;
}

[class*="-ibg"] img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

[class*="-ibg_contain"] img {
    -o-object-fit: contain;
    object-fit: contain;
}

.icon-menu {
    display: none;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2.1875rem;
}

.menu__item {
    font-family: "Arial";
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 160%;
    color: #cdcdcd;
}

.menu__item:hover {
    border-bottom: #f1cdb3 1px solid;
    color: #fafafa;
}

.active-nav {
    border-bottom: #f1cdb3 1px solid;
}

.promo__container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background: url("../img/bg/start-screen-gradient-background.png") center/cover no-repeat;
}

.header {
    padding-top: 4.3125rem;
}

.header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.header__logo {
    z-index: 3;
}

.header__title {
    font-weight: 400;
    font-size: 2rem;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #f1cdb3;
}

.header__subtitle {
    font-family: "Arial";
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 0.9375rem;
    letter-spacing: 0.1em;
    color: #ffffff;
}

.promo-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2.8125rem;
    max-width: 28.75rem;
}

.promo-left__title {
    font-weight: 400;
    font-size: 2.75rem;
    line-height: 130%;
    color: #ffffff;
}

.promo-left__descr {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 160%;
    color: #cdcdcd;
}

.promo-left__btn {
    text-align: center;
    background: #f1cdb3;
    border-radius: 100px;
    padding: 0.9375rem 2.8125rem;
    max-width: 12.9375rem;
}

.promo-left__btn:hover {
    background: #fddcc4;
}

.promo-right__img {
    width: 100%;
    height: 100%;
}

.promo-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2.625rem;
    padding-top: 3.1875rem;
}

.footer__container {
    background: url("../img/bg/footer-gradient-background.png") center/cover;
}

.footer-grid {
    padding: 2.5rem 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2.5rem;
}

.grid-left {
    -ms-flex-preferred-size: 18.75rem;
    flex-basis: 18.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 2.5rem;
}

.grid-left__title {
    font-weight: 400;
    font-size: 2.1875rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #ffffff;
}

.grid-left__email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.25rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #f1cdb3;
}

.grid-left__email svg {
    width: 2.5rem;
    height: 2rem;
    fill: #f1cdb3;
}

.grid-left__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.25rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #f1cdb3;
}

.grid-left__phone svg {
    width: 2.5rem;
    height: 2rem;
    fill: #f1cdb3;
}

.grid-center {
    -ms-flex-preferred-size: 18.75rem;
    flex-basis: 18.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 2rem;
}

.grid-center__title {
    font-weight: 400;
    font-size: 2.1875rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #ffffff;
}

.grid-center__location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.25rem;
}

.grid-center__location svg {
    width: 1.375rem;
    height: 2rem;
    fill: #f1cdb3;
}

.grid-center__location a {
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #f1cdb3;
}

.grid-center__location svg {
    min-width: 1.375rem;
}

.grid-right {
    -ms-flex-preferred-size: 18.75rem;
    flex-basis: 18.75rem;
}

.grid-right__img {
    width: 100%;
    height: 100%;
}

.about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 7.5rem;
    padding-top: 5rem;
    padding-bottom: 6.25rem;
}

.about__img {
    max-width: 18.75rem;
    max-height: 25.5rem;
}

.about__img img {
    width: 100%;
    height: 100%;
}

.about__text {
    max-width: 26.875rem;
}

.about-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.5625rem;
}

.about-text__title {
    font-weight: 400;
    font-size: 2.1875rem;
    line-height: 130%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.about-text p {
    font-family: "Arial";
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 160%;
    color: #4c4c4c;
}

.donation__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.875rem;
    background-color: #f6f6f6;
    padding-top: 5rem;
    padding-bottom: 6.25rem;
}

.donation__img img {
    width: 100%;
}

.donation__attr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.9375rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    padding: 0.625rem 0.625rem;
    background: #f1cdb3;
    border-radius: 9px;
    max-width: 21.875rem;
}

.donation__attr svg {
    width: 1.875rem;
    height: 1.4375rem;
    fill: #292929;
}

.donation__number {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.25rem;
    max-width: 23.75rem;
}

.donation-text__title {
    font-weight: 400;
    font-size: 2.1875rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation-text__descr {
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation-text__info {
    font-family: "Arial";
    font-style: italic;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: #b2b2b2;
}

.help__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 3.75rem;
    background: #ffffff;
    padding-top: 5rem;
    padding-bottom: 6.25rem;
}

.help__title {
    font-weight: 400;
    font-size: 2.1875rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
}

.help-grid {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 3.4375rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.grid-item {
    -ms-flex-preferred-size: 10.3125rem;
    flex-basis: 10.3125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    gap: 1.875rem;
}

.grid-item__img {
    display: block;
    max-width: 3.75rem;
    max-height: 3.75rem;
    width: 100%;
    height: 100%;
}

.friends__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 4.0625rem;
    padding-top: 5rem;
    padding-bottom: 6.25rem;
}

.friends__title {
    font-weight: 400;
    font-size: 2.1875rem;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.friends__btn {
    background: #f1cdb3;
    border-radius: 100px;
    padding: 0.9375rem 2.8125rem;
    max-width: 16.3125rem;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.friends__btn:hover {
    background: #fddcc4;
}

.friends__link {
    display: block;
    padding: 0.9375rem 2.8125rem;
    border: 2px solid #f1cdb3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 100px;
}

.swiper {
    position: relative;
}

.swiper-wrapper {
    margin-left: 9%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 6.875rem;
}

.swiper-slide {
    max-width: 16.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.875rem;
    background: #fafafa;
    border-radius: 9px;
}

.swiper-slide:hover {
    cursor: pointer;
    background: #ffffff;
}

.swiper-slide:hover .friends__link {
    background: #fddcc4;
}

.swiper-button-prev {
    width: 3.25rem;
    height: 3.25rem;
    border: 2px solid #f1cdb3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    left: 30;
    top: 50%;
}

.swiper-button-prev:hover {
    background: #fddcc4;
}

.swiper-button-prev:hover svg path {
    fill: #292929;
}

.swiper-button-next {
    width: 3.25rem;
    height: 3.25rem;
    border: 2px solid #f1cdb3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 50%;
}

.swiper-button-next:hover {
    background: #fddcc4;
}

.swiper-button-next:hover svg path {
    fill: #292929;
}

.promo__container_white {
    width: 100%;
    background: white;
    padding: 5rem 0 6.25rem 0;
}

.promo__friends {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2.8125rem;
    padding-top: 5rem;
}

.header_white {
    padding: 0 2.5rem;
}

.header__title_white {
    color: #545454;
}

.header__subtitle_white {
    color: #545454;
}

.menu__link_white {
    color: #545454;
}

.menu__link_white:hover {
    color: #292929;
}

.friends__wrapper {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, 16.875rem);
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem;
    row-gap: 1.875rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.friends__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.875rem;
    background: #fafafa;
    border-radius: 9px;
}

.friends__item:hover {
    cursor: pointer;
    background: #ffffff;
}

.friends__item:hover .friends__link {
    background: #fddcc4;
}

.friends-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    gap: 1.25rem;
}

.friends-pagination__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 3.25rem;
    height: 3.25rem;
    padding: 0.875rem 0.75rem;
    border: 2px solid #cdcdcd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 100px;
}

.inactive-pag {
    border: 2px solid #cdcdcd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 100px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.inactive-pag svg path {
    fill: #cdcdcd;
}

.inactive-pag:hover {
    border-color: #f1cdb3;
}

.inactive-pag:hover svg path {
    fill: #292929;
}

.active-pag {
    border-radius: 100px;
    border-color: #f1cdb3;
}

.active-pag svg path {
    fill: #292929;
}

.active-pag:hover {
    background: #f1cdb3;
}

.arrow svg {
    width: 0.625rem;
}

.swiper {
    overflow: hidden;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.swiper-vertical .swiper-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.swiper-initialized .swiper-slide {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
    display: none !important;
}

@media (max-width: 47.99875em) {
    .icon-menu {
        display: block;
        position: relative;
        width: 1.875rem;
        height: 1.125rem;
        cursor: pointer;
        z-index: 5;
    }
    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        right: 0;
        position: absolute;
        width: 100%;
        height: 0.125rem;
        background-color: #f1cdb3;
    }
    .icon-menu::before {
        top: 0;
    }
    .icon-menu::after {
        bottom: 0;
    }
    .icon-menu span {
        top: calc(50% - 0.0625rem);
    }
    .menu-open .icon-menu span {
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    .menu-open .icon-menu::before {
        top: calc(50% - 0.0625rem);
        left: calc(-25% - 0.0625rem);
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    .menu-open .icon-menu::after {
        bottom: calc(50% - 0.0625rem);
        right: -25%;
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    .menu__body {
        display: none;
    }
    .header {
        padding-top: 1.875rem;
    }
    .promo-left__btn {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
    .promo-wrap {
        gap: 6.25rem;
    }
    .about__img {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .donation__img {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .swiper-wrapper {
        gap: 2.5rem;
        margin-left: 7%;
    }
    .promo__container_white {
        padding: 1.875rem 0 4.375rem 0;
    }
    .header_white {
        padding: 0 1.875rem;
    }
    .friends-pagination {
        gap: 0.625rem;
    }
}

@media (max-width: 29.99875em) {
    [class*="__container"] {
        padding: 2rem 0.625rem;
    }
    .promo-left__title {
        text-align: center;
        font-size: 1.5625rem;
        line-height: 130%;
        letter-spacing: 0.06em;
    }
    .promo-left__descr {
        text-align: center;
        font-size: 0.9375rem;
        line-height: 160%;
    }
    .grid-left__title {
        font-size: 1.5625rem;
        line-height: 130%;
        /* or 32px */
        text-align: center;
        letter-spacing: 0.06em;
    }
    .grid-center__title {
        font-size: 1.5625rem;
        line-height: 130%;
        /* or 32px */
        text-align: center;
        letter-spacing: 0.06em;
    }
    .about__container {
        padding-top: 2.625rem;
        padding-bottom: 2.625rem;
        gap: 2.625rem;
    }
    .about-text__title {
        text-align: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        font-size: 1.5625rem;
        line-height: 130%;
        letter-spacing: 0.06em;
    }
    .donation__container {
        padding-top: 2.625rem;
        padding-bottom: 2.625rem;
    }
    .donation__number {
        font-size: 0.9375rem;
        line-height: 110%;
        letter-spacing: 0.06em;
    }
    .donation-text__title {
        text-align: center;
        font-size: 1.5625rem;
        line-height: 130%;
        letter-spacing: 0.06em;
    }
    .donation-text__descr {
        font-size: 0.875rem;
        line-height: 160%;
        text-align: center;
    }
    .donation-text__info {
        font-size: 0.75rem;
        line-height: 1.125rem;
        text-align: center;
    }
    .help__container {
        padding-top: 2.625rem;
        padding-bottom: 2.625rem;
        gap: 2.625rem;
    }
    .help__title {
        text-align: center;
        font-size: 1.5625rem;
        line-height: 130%;
        letter-spacing: 0.06em;
    }
    .help-grid {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .grid-item {
        -ms-flex-preferred-size: 7.5rem;
        flex-basis: 7.5rem;
    }
    .friends__container {
        padding-top: 2.625rem;
        padding-bottom: 2.625rem;
    }
    .friends__title {
        font-size: 1.5625rem;
        line-height: 130%;
        letter-spacing: 0.06em;
    }
    .swiper-wrapper {
        margin-left: 5%;
    }
    .swiper-button-prev {
        position: static;
    }
    .swiper__pag {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 5rem;
        padding-top: 3.125rem;
    }
    .swiper-button-next {
        position: static;
    }
}