html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}


/* Sections
     ========================================================================== */


/**
   * Remove the margin in all browsers.
   */

body {
    margin: 0;
}


/**
   * Render the `main` element consistently in IE.
   */

main {
    display: block;
}


/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}


/* Grouping content
     ========================================================================== */


/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}


/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


/* Text-level semantics
     ========================================================================== */


/**
   * Remove the gray background on active links in IE 10.
   */

a {
    background-color: transparent;
}


/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    /* 2 */
}


/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */

b,
strong {
    font-weight: bolder;
}


/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


/**
   * Add the correct font size in all browsers.
   */

small {
    font-size: 80%;
}


/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}


/* Embedded content
     ========================================================================== */


/**
   * Remove the border on images inside links in IE 10.
   */

img {
    border-style: none;
}


/* Forms
     ========================================================================== */


/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}


/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */

button,
input {
    /* 1 */
    overflow: visible;
}


/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */

button,
select {
    /* 1 */
    text-transform: none;
}


/**
   * Correct the inability to style clickable types in iOS and Safari.
   */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}


/**
   * Remove the inner border and padding in Firefox.
   */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}


/**
   * Restore the focus styles unset by the previous rule.
   */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}


/**
   * Correct the padding in Firefox.
   */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}


/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}


/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */

progress {
    vertical-align: baseline;
}


/**
   * Remove the default vertical scrollbar in IE 10+.
   */

textarea {
    overflow: auto;
}


/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */

[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}


/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}


/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}


/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}


/* Interactive
     ========================================================================== */


/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */

details {
    display: block;
}


/*
   * Add the correct display in all browsers.
   */

summary {
    display: list-item;
}


/* Misc
     ========================================================================== */


/**
   * Add the correct display in IE 10+.
   */

template {
    display: none;
}


/**
   * Add the correct display in IE 10.
   */

[hidden] {
    display: none;
}

* {
    text-decoration: none;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #ffffff;
}

header {
    background-image: url(assets/back_hat-box4.15.png);
}

.hat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 83px;
}

.text-logo {
    -ms-flex-preferred-size: 21%;
    flex-basis: 21%;
    color: #E3B873;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.hat-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
}

@media screen and (max-width: 700px) {
    .hat-nav {
        display: none;
    }
}

.hat-nav-home {
    font-family: FuturaBookC;
    font-size: 14px;
    line-height: 16px;
    color: #E3B873;
}

.hat-nav-proj,
.hat-nav-measu,
.hat-nav-team,
.hat-nav-rev,
.hat-nav-contact {
    color: #ffff;
}

.hat-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-preferred-size: 27%;
    flex-basis: 27%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.phone-number {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.phone-butn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #E3B873;
    width: 161px;
    height: 37px;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-right: 20px;
}

@media screen and (max-width: 700px) {
    .phone-butn {
        display: none;
    }
}

.phone-butn-text {
    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.navigation {
    color: white;
}

.phone-number {
    color: #E3B873;
}

.hat-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 707px;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    position: relative;
}

.hat-img {
    -ms-flex-preferred-size: 95%;
    flex-basis: 95%;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-image: url(assets/image4.3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.text-instagram {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 5%;
    flex-basis: 5%;
    text-align: center;
    color: #E3B873;
    font-size: 14px;
}

@media screen and (max-width: 700px) {
    .text-instagram {
        display: none;
    }
}

.text-inst {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-family: FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.hat__title_txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
}

.hat__main_txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
}

.title-text {
    color: white;
    margin-left: 60px;
    margin-top: 95px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
}

.main-text {
    color: white;
    font-size: 22px;
    padding-left: 60px;
}

.rostov {
    color: #E3B873;
}

.buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 44%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.calc-butn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 51px;
    width: 207px;
    line-height: 15px;
    text-align: center;
    font-size: 13px;
    background: #E3B873;
    -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
}

.calc-btn-text {
    color: #ffffff;
}

.subm-btn-text {
    color: #ffffff;
}

.subm-butn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 51px;
    width: 207px;
    line-height: 15px;
    text-align: center;
    font-size: 13px;
    -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    border: 1px solid #FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
}

.hat-scroll {
    position: absolute;
    height: 97px;
    width: 247px;
    background: #131313;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 700px) {
    .hat-scroll {
        display: none;
    }
}

.scroll-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: Yeseva One;
}

.compl-proj {
    background-image: url(assets/back_hat-box4.15.png);
    height: 1074px;
}

@media screen and (max-width: 700px) {
    .compl-proj {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.compl-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #E3B873;
    height: 10%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media screen and (max-width: 700px) {
    .compl-nav {
        display: none;
    }
}

.compl-nav-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.compl-nav-admiral {
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;
}

.compl-nav-thieve {
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.compl-nav-patriotic {
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.compl-flex-title-text {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.compl-flex-main-txt {
    font-family: FuturaBookC;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
}

.compl-flex-title_h5_txt {
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.compl-flex-txt {
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.compl-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

@media screen and (max-width: 700px) {
    .compl-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.compl-proj-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.example-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.compl-flex-data_txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
}

.compl-flex-title_h5 {
    width: 40%;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.compl-flex-txt {
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.control-title-txt {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.control-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .control-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
    }
}

.online-video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.online-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    margin-top: -20%;
}

@media screen and (max-width: 700px) {
    .online-control {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 1400px;
        background-color: black;
        margin-top: -5%;
    }
}

.online {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.online-text {
    font-family: FuturaBookC;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #363636;
}

.online-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

@media screen and (max-width: 700px) {
    .online-input {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.input-phone,
.input-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}

.input-phone-field {
    height: 51px;
    width: 200px;
}

.input-name-field {
    height: 51px;
    width: 200px;
}

.butn-subm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.butn-subm-input {
    height: 57px;
    width: 200px;
    background-color: #E3B873;
    color: #ffff;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.flag__input-txt {
    font-family: FuturaBookC;
    font-size: 16px;
    line-height: 22px;
    color: #181818;
}

.flag-online-input {
    height: 18px;
    width: 18px;
}

.flag-online {
    padding-top: 30px;
}

.repair-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    .repair-box {
        background-color: white;
    }
}

.img_for_media {
    display: none;
}

@media screen and (max-width: 700px) {
    .img_for_media {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.img_media {
    display: none;
}

@media screen and (max-width: 700px) {
    .img_media {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 600px;
        height: 440px;
    }
}

.repair-title__txt {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

@media screen and (max-width: 700px) {
    .repair-title__txt {
        color: black;
    }
}

.repair__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin-top: 45px;
    position: relative;
}

@media screen and (max-width: 700px) {
    .repair__columns {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.repair-box__title_txt {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-left: 7%;
    color: #363636;
}

.redec-text,
.overhaul-text,
.design-text {
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 25px;
    color: #959595;
    background: #FFFFFF;
    -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    height: 260px;
}

.redec-text {
    position: absolute;
    margin-top: -9%;
    margin-left: 3%;
    width: 306px;
}

.overhaul-text {
    position: absolute;
    margin-top: -9%;
    margin-left: 3%;
    width: 306px;
}

.design-text {
    position: absolute;
    margin-top: -9%;
    margin-left: 3%;
    width: 306px;
}

.cost__txt {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.field-cost {
    width: 230px;
    height: 55px;
    background-color: #E3B873;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    margin-left: 3%;
    margin-top: 7%;
}

.offer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1000px;
    margin-top: 15%;
    width: 100%;
}

@media screen and (max-width: 700px) {
    .offer-box {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .steps-for-media {
        display: none;
    }
}

.offer-box-colum {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.offer-box-colum-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.offer-box-colum-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.colum-left__img {
    background-image: url(assets/back_offer_img.png);
    background-repeat: no-repeat;
    background-size: contain;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.offer-left-item_txt {
    font-family: FuturaMediumC;
    font-size: 18px;
    line-height: 21px;
    color: #363636;
}

.offer-box-colum-right_field {
    background-color: black;
    background-repeat: no-repeat;
    width: 135%;
    height: 50%;
}

.right_field_contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.offer-right-title_txt {
    font-family: FuturaDemiC;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.offer__input-name-field,
.offer__input-phone-field,
.offer__input-email-field {
    font-family: FuturaMediumC;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.offer__flag__input-txt {
    font-family: FuturaBookC;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.offer__input-name_txt,
.offer__phone-text,
.offer__email-text {
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.offer__input-name,
.offer__input-phone,
.offer__input-email {
    width: 80%;
}

.butn-call-input {
    background: #E3B873;
    -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    width: 210px;
    height: 50px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.offer__flag-online {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding-top: 10%;
}

.butn-call {
    padding-top: 8%;
    -ms-flex-item-align: end;
    align-self: center;
}

.offer-box-bot-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.pig_txt {
    font-family: FuturaDemiC;
    font-size: 20px;
    line-height: 25px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.fantasies-box {
    background-image: url(assets/fantasy_back_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1440px;
    height: 865px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative;
}

@media screen and (max-width: 700px) {
    .fantasies-box {
        background: none;
    }
}

.fantasies-box__column_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-preferred-size: 28%;
    flex-basis: 28%;
}

@media screen and (max-width: 700px) {
    .fantasies-box__column_left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.fantasies-box-title {
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
}

@media screen and (max-width: 700px) {
    .fantasies-box-title {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
}

.fantasies-box-list {
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
}

@media screen and (max-width: 700px) {
    .fantasies-box-list {
        display: none;
    }
}

.fantasies-box-title__txt {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
}

.box-list-title_txt {
    font-family: Proxima Nova;
    font-size: 20px;
    line-height: 34px;
    color: #E3B873;
}

.fantasies-box-list li {
    font-family: Proxima Nova;
    font-size: 20px;
    line-height: 34px;
    color: #FFFFFF;
    list-style: none;
}

.fantasies-box-list-ul {
    padding: 0;
}

.fantasies-box__column_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

@media screen and (max-width: 700px) {
    .fantasies-box__column_right {
        display: none;
    }
}

.column_right_box1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}

.column_right_box2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}

.fantasies-box-itm1 {
    position: absolute;
    margin-top: -10%;
    margin-left: -90%;
}

.fantasies-box-itm3 {
    position: absolute;
    margin-top: 155%;
    margin-left: -90%;
}

.fantasies-box-itm2 {
    position: absolute;
    margin-top: -25%;
    margin-left: 23%;
}

.fantasies-box-itm4 {
    margin-top: 60%;
    margin-left: 23%;
}

.design-project_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 570px;
    background-color: white;
}

@media screen and (max-width: 700px) {
    .design-project_wrap {
        background-color: black;
    }
}

.project-title {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.project-title_txt {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

@media screen and (max-width: 700px) {
    .project-title_txt {
        color: white;
    }
}

.project-logo {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.project-main-txt {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.proj-main-txt {
    font-family: FuturaBookC;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #363636;
}

@media screen and (max-width: 700px) {
    .proj-main-txt {
        color: white;
    }
}

.project-cost {
    background-image: url(assets/design_back_img.png);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    position: relative;
    height: 510px;
}

@media screen and (max-width: 700px) {
    .project-cost {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.mini-block_txt,
.standart-block_txt,
.full-block_txt {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}

.mini-block_list,
.standart-block_list,
.full-block_list {
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 25px;
    color: #959595;
    background: #FFFFFF;
    -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    position: absolute;
    margin-top: -9%;
    margin-left: 3%;
    width: 306px;
}

.mini-block,
.standart-block,
.full-block {
    margin-top: -12%;
}

.field-cost_mini {
    width: 230px;
    height: 55px;
    background-color: #E3B873;
    position: absolute;
    margin-left: 3%;
    margin-top: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.field-cost_standart {
    width: 230px;
    height: 55px;
    background-color: #E3B873;
    position: absolute;
    margin-left: 3%;
    margin-top: 7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.field-cost_full {
    width: 230px;
    height: 55px;
    background-color: #E3B873;
    position: absolute;
    margin-left: 3%;
    margin-top: 16%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.howworking-text_txt {
    font-family: FuturaDemiC;
    font-size: 15px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.working-title_txt {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
}

.page-number_txt {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sutitle-working_txt {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    text-transform: uppercase;
    color: #E3B873;
}

.working-text {
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}

.design-project {
    background-image: url(assets/design_back_img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.howworking-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 5%;
}

.after-project_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 800px;
}

.steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 35%;
}

.working-text {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.working-title,
.page-number,
.sutitle-working {
    margin-left: 16%;
}

.pages-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    width: 65%;
}

.pages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.fist-page-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.second-page-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.item1-num,
.item2-num,
.item3-num,
.item4-num,
.item5-num,
.item6-num {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.item1-text,
.item2-text,
.item3-text,
.item4-text,
.item5-text,
.item6-text {
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
    width: 30%;
    height: 71px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.team-logo__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    margin-top: -15%;
    height: 500px;
}

@media screen and (max-width: 700px) {
    .team-logo__wrap {
        display: none;
    }
}

.our-team-title,
.team-logo,
.team-text-up {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.team-title__txt {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.text-up__txt {
    font-family: FuturaBookC;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 700px) {
    .our-team {
        background-color: black;
    }
}

.team {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

@media screen and (max-width: 700px) {
    .team {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: black;
    }
}

.dmitry-exp,
.larisa-exp,
.alexey-exp {
    width: 243px;
    height: 45px;
    background: #E3B873;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    margin: 1%;
    margin-top: 18%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.tulyakov-name,
.kotlyarova-name,
.efimov-name {
    width: 243px;
    height: 110px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    margin: 1%;
    margin-top: 13%;
}

.dmitry,
.larisa,
.alexey {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #181818;
}

.dmitry-proff,
.larisa-proff,
.alexey-proff {
    font-family: FuturaBookC;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #959595;
}

.tulyakov,
.kotlyarova,
.efimov {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: -15%;
}

.tulyakov-logo,
.kotlyarova-logo,
.efimov_logo {
    position: absolute;
    margin-left: -4%;
    margin-top: -13%;
}

.team-text-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 13%;
}

@media screen and (max-width: 700px) {
    .team-text-down {
        display: none;
    }
}

.text-down {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-family: FuturaBookC;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #363636;
}

.our-clients {
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .our-clients {
        display: none;
    }
}

.client_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 3%;
}

.clients-logo,
.client-title_txt,
.our-client-text {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.client-title_txt {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.client-txt {
    font-family: FuturaBookC;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #363636;
}

.clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.client1,
.client2,
.client3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}

.maria-hat,
.sergey-hat,
.egor-hat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    width: 70%;
}

.maria-name,
.sergey_name,
.egor_name {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}

.maria_txt,
.sergey_txt,
.egor_txt {
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 180%;
    text-transform: lowercase;
}

.maria-work,
.sergey-work,
.egor-work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    height: 85px;
    background: #E3B873;
    -webkit-box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.maria-work-completely1,
.maria-work-completely2,
.sergey-work-completely1,
.sergey-work-completely2,
.egor-work-completely1,
.egor-work-completely2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.clients_deal_txt {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.maria-work-completely1,
.maria-work-completely2,
.sergey-work-completely1,
.sergey-work-completely2,
.egor-work-completely1,
.egor-work-completely2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    width: 100%;
    margin-left: 3%;
}

.prefooter {
    background-image: url(assets/prefooter_back.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.prefooter-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
}

.footer-adress,
.prefooter-icon,
.prefooter-geo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
}

.prefooter-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 10%;
    height: 90px;
}

.footer-adress-txt {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
}

.footer {
    background-image: url(assets/footer_back.png);
}

@media screen and (max-width: 700px) {
    .footer {
        display: none;
    }
}


/*# sourceMappingURL=style.css.map */